@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

a:hover {
  cursor: pointer;
  text-underline-offset: 4px;
  text-decoration: underline;
}

@layer base {
  html,
  body {
    min-height: 100%;
  }

  * {
    padding: 0;
    margin: 0;
  }

  body {
    background: linear-gradient(#feece7, #f9f7f1);
  }
}

code {
  font-family: "SF Mono", Menlo, Consolas, monospace;
}

:not(pre) > code {
  background: #f0eee9;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 0.9em;
}
